<div class="header-content">
	<div class="art-bar art-nav">
		<div class="art-nav-outer">
			<div class="art-nav-wrapper">
				<div class="art-nav-inner">
					<ul class="art-hmenu">
						<li><a id="menu_home" href="home.html">Home</a></li>	
						<li><a id="menu_carac" href="#">Features</a>
							<ul>
								<li><a href="cdiCompativel.html">CDI Compatible</a></li>
								<li><a href="paramMsg.html">Messages Parametrization</a></li>
								<li><a href="multiFontes.html">Multiple Sources Messages</a></li>
							</ul>
						</li>	
						<li><a id="menu_conf" href="configuracao.html">Use and Configuration</a></li>	
					</ul>	
					<div class="slideMenu">						
						<img alt="Português" style="border-width:0" src="images/br-flag.png" onclick="changeLanguageContent('pt-BR')" />
						<img alt="English" style="border-width:0" src="images/uk-flag.png" onclick="changeLanguageContent('en-US')" />
					</div>
				</div>
			</div>			
		</div>
	</div>
	<div class="cleared reset-box"></div>
	<div class="art-logo">					
		<h1 class="art-logo-name">
			<a href="http://extendedvalidation.sourceforge.net/home.html">ExtendedValidation</a>
		</h1>
		<h2 class="art-logo-text">A BeanValidation 1.1 extension</h2>
	</div>
</div>