<div class="content">
	<div class="art-box-body art-post-body">
		<div class="art-post-inner art-article">									
			<h2 class="art-postheader">
				Flexível, extensível e fácil de usar
			</h2>
			<div class="art-postmetadataheader">
				<div class="art-postheadericons art-metadata-icons"></div>
			</div>
			<div class="art-postcontent">
				<p>
				Este componente não é uma implementação completa do <a href="http://beanvalidation.org/1.1/spec/"><i>BeanValidation API 1.1</i></a>, 
				e sim uma extensão que adiciona funcionalidades a essa, independente da implementação concreta utilizada, e pode 
				facilmente ser integradas a projetos novos ou existentes.										
				</p>
				<p>
				Todas as implementações de elementos da API delegam, ao final de seu incremento à funcionalidade, a conclusão do processamento 
				ao seu par padrão definido pela implementação da API escolhida. Este princípio garante que comportamentos existentes em projetos 
				legados não sejam afetados, minimizando riscos na adoção do componente neste cenário.
				</p>
				<p>
				Idealizado para facilitar o uso da validação através da <i>BeanValidation API</i> em projetos grandes e complexos, apresentando soluções 
				como: permite o desacoplamento entre as <i>Constraint</i> das implementações dos <i>ConstraintValidator</i>; possibilita especificar multiplos 
				arquivos de mensagens ou mesmo substituir o uso de arquivos por outra fonte distinta, como por exemplo banco de dados, módulos ou aplicações 
				externas, rotinas mainframe etc.; também disponibiliza um incremento à API para simplificar a atribuição de valores a parâmetros especificados 
				em mensagens na fase de interpolação.
				</p>
			</div>
			<div class="cleared"></div>
			<div class="art-postfootericons art-metadata-icons">
				<span class="art-posttagicon"><a href="mailto:leandro.deitos@gmail.com" title="link">Leandro Deitos</a> - 2014</span>
			</div>
		</div>							
	</div>	
</div>						