<div class="content">
	<div class="art-box-body art-post-body">
		<div class="art-post-inner art-article">									
			<h2 class="art-postheader">
				Flexible, extensible and easy to use
			</h2>
			<div class="art-postmetadataheader">
				<div class="art-postheadericons art-metadata-icons"></div>
			</div>
			<div class="art-postcontent">
				<p>
				This component is not a complete implementation of <a href="http://beanvalidation.org/1.1/spec/"><b>BeanValidation API 1.1</b></a>, but an extension that add functionalities to the API, regardless of the concrete implementation used, and can be easily integrated to new or existent projects. 										
				</p>
				<p>
				All elements of API implementations delegates, at the end of its increment to the functionality, the conclusion of the processing to its default pair defined by the implementation of the chosen API. This principle guarantees that existing behaviours in legacy projects will not be affected, minimizing the risks in the adoption of the component in this scenario.
				</p>
				<p>
				Idealized to make easier the usage of validation by <b>BeanValidation API</b> in big and complex projects, presenting solutions as: enabling uncoupling between the implementations <b>Constraint</b> of <b>ConstraintValidator</b>; make possible to specify multiple files of messages or even substitute the usage of files by another source, such as database, modules or external applications, mainframe routines etc. Also provides an addition to the API to simplify the assignment of values to parameters specified in messages in the interpolation phase.
				</p>
			</div>
			<div class="cleared"></div>
			<div class="art-postfootericons art-metadata-icons">
				<span class="art-posttagicon"><a href="mailto:leandro.deitos@gmail.com" title="link">Leandro Deitos</a> - 2014</span>
			</div>
		</div>							
	</div>	
</div>						